<div class="{{pageStatus.cssClass}}">
    <strong>{{pageStatus.statusType}}</strong> {{pageStatus.msg}}
</div>
<div *ngIf='contact'>
    <div class="form-group">
        <label for="inputsm">Name</label>
        <input class="form-control input-sm" id="inputsm" type="text"  [(ngModel)]='contact.Name'>
    </div>
    <div class="form-group">
        <label for="inputsm">Address</label>
        <input class="form-control input-sm" id="inputsm" type="text"  [(ngModel)]='contact.Address'>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="inputsm">Email</label>
                <input class="form-control input-sm" id="inputsm" type="text"  [(ngModel)]='contact.Email'>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="inputsm">Phonen</label>
                <input class="form-control input-sm" id="inputsm" type="text"  [(ngModel)]='contact.Phone'>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-default" (click)='onSaveClicked($event)'>Save</button>
            </div>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-default" (click)='onResetClicked($event)'>Clear</button>
            </div>
        </div>
    </div>
</div>
<div class="input-group">
    <input type="text" class="form-control"
           placeholder="Search"
           [(ngModel)]='searchText'
           aria-describedby="basic-addon1">
    <span class="input-group-addon" id="basic-addon1">Search</span>
</div> 
<div class='table-responsive'>
    <table class="table table-light" *ngIf='contacts'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts | filter: searchText">
                <td>{{contact.Name}}</td>
                <td>{{contact.Address}}</td>
                <td>{{contact.Phone}}</td>
                <td>{{contact.Email}}</td>
                <td style="width: 170px;">
                    <button type="button" (click)="updateContact(contact.Id)" class="btn btn-warning">Edit</button>
                    <button type="button" (click)="deleteContact(contact.Id)" class="btn btn-danger">Delete</button>  
                </td>
            </tr>
        </tbody>
    </table>
</div>